// sidebar
$menuText:#bfcbd9;
$menuActiveText:#fff;
$subMenuActiveText:#fff; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#343843;
$menuHover:rgba(0,113,250,0.3);

$subMenuBg:#343843;
$subMenuHover:rgba(0,113,250,0.3);
$subMenuActiveBgc:#0072f9;
$sideBarWidth: 210px;
$topHeight:70px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  subMenuActiveBgc:$subMenuActiveBgc;
  topHeight:$topHeight;
}
